* {
  box-sizing: border-box;
}

header {
  background-color: orange;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: yellow;
  text-align: center;
  padding: 10px;
}

content {   
  float: left;
  width: 60%;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
}

sidebar {
  float: right;
  text-align : center;
  height: 600px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 10px;
  background-image:  
     url(img/sidebar-img-sm.png);

}

footer {
  clear: both;
  padding: 10px;
  text-align: center;
  background-color: orange;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For larger screen sizes */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}















input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}


.formcontainer {
  background-color: whitesmoke;
  padding: 20px;
}





































.button {
  background-color: orange; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 25px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: white;
}







